<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="file" id="file">
    <label id="save" for="file">저장</label>
<script>
	const saveButton = document.getElementById('save');
	saveButton.addEventListener('click', () => {
		const file = document.getElementById('file').files[0];
		const formData = new FormData();
		formData.append('file', file);
		
		fetch('/test/upload/save', {
			method: 'post',
			body: formData
		})
		.catch(error => console.log(error))
		.then(response => response.json())
		.then(data => {
			console.log('파일이름 : ' + data.originalFileName);
			console.log('파일 사이즈 : ' + data.fileSize);
			console.log('저장된 파일 이름 : ' + data.saveFileName);
		})
	});
</script>
</body>
</html>